@tailwind base;
@tailwind components;
@tailwind utilities;


#map-view{
    display: none;}

#sensors{
    display: none;}

#alerts{
    display: none;}

#settings{
    display: none;}

#dashboard{
    display: block;}

#history{
    display: none;}

    .nav-link.active {
        @apply bg-indigo-600 dark:bg-indigo-500 text-white;
      }
    

